{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "tailwindFunctions": ["cn", "clsx", "cva"],
  "tailwindStylesheet": "./src/styles/global.css"
}
